flows.json
[{"id":"5fed4c1d.572194","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c0251fe.78f06e","type":"ui_group","z":"","name":"Intern","tab":"fdb713b0.14ac8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fdb713b0.14ac8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1d6eaa96.57c085","type":"ui_form","z":"5fed4c1d.572194","name":"","label":"","group":"2c0251fe.78f06e","order":0,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":60,"y":340,"wires":[["2fe4e7ea.d56c88"]]},{"id":"2fe4e7ea.d56c88","type":"function","z":"5fed4c1d.572194","name":"","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"Zc9xPnCiKAGgMnwuDQdpga94wmyGI6Lek5zHiiNiffE_\";\nmsg.headers={\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":340,"wires":[["8799edb8.4530a"]]},{"id":"8799edb8.4530a","type":"http request","z":"5fed4c1d.572194","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":340,"wires":[["6cd7db7b.96a2e4"]]},{"id":"6cd7db7b.96a2e4","type":"function","z":"5fed4c1d.572194","name":"","func":"var mr=global.get(\"mr\")\nvar mt=global.get(\"mt\")\nvar mp=global.get(\"mp\")\nvar ma=global.get(\"ma\")\nvar ms=global.get(\"ms\")\nvar token=msg.payload.access_token\nvar instance_id=\"741b4a18-8ccd-4b25-aca2-234bbc56f03c\"\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"],\"values\":[[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":340,"wires":[["689ff1ad.c8b99"]]},{"id":"689ff1ad.c8b99","type":"http request","z":"5fed4c1d.572194","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/00edb602-81d5-4452-8caa-71fe0f8f1055/predictions","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":340,"wires":[["11ccb96b.c8b3d7","b269123.e2a6df"]]},{"id":"11ccb96b.c8b3d7","type":"function","z":"5fed4c1d.572194","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":460,"wires":[["b269123.e2a6df","7cdef3a9.5b9c6c"]]},{"id":"b269123.e2a6df","type":"debug","z":"5fed4c1d.572194","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"7cdef3a9.5b9c6c","type":"ui_text","z":"5fed4c1d.572194","group":"2c0251fe.78f06e","order":1,"width":0,"height":0,"name":"","label":"Diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":560,"wires":[]}]